<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<title>VocaBuildary</title>
</head>
<body>
	<h1> VocaBuildary </h1>

