label, button{
	display: block;
}

input, textarea{
	padding-bottom: 5px;
	margin-bottom: 10px;
}


.aboutWord{
	display: none;
}

.abtWord{
	display: block;
}

.wordsList{
	list-style: none;
}

.wordsList:hover{
	cursor: pointer;
}

.correct{
	color: green;
}

.incorrect{
	color: red;
}

.secret{
	display: none;
}

.known{
	color: green;
}