
label, button{
	display: block;
}

input, textarea{
	padding-bottom: 5px;
	margin-bottom: 10px;
}


.aboutWord{
	display: none;
}

.abtWord{
	display: block;
}

.wordsList{
	list-style: none;
}

.listHover:hover{
	cursor: pointer;
	background: rgb(171, 235, 198);
	border-radius: 7px;
}


.correct{
	border-radius: 7px;
	background: rgb(88, 214, 141);
}

.incorrect{
	border-radius: 7px;
	background: rgb(192, 57, 43);
}

.secret{
	display: none;
}

.known{
	color: green;
}

.xtraDesign{
	background: rgb(209, 242, 235);
	border-left: 6px solid rgb(52, 152, 219);
	border-radius: 5px;
}