<% include ./partials/header %>

<div class="container">
	<h3 class="my-4"> Words that you have learnt will be displayed here:- </h3>
	<% kWrdsObj.kWords.forEach(function(each){ %>
		<div class="card my-2 p-4" style="width:25rem;">
		<h5 class="card-title"><strong>Word:- <%= each.name %> </strong></h5>
			<div>
				<p class="card-text"> Def:- <%= each.meaning %> </p>
				<p class="card-text"> Synonyms:- <%= each.synonym %> </p>
				<p class="card-text"> Sentence:- <%= each.sentence %> </p> 
			</div>
		</div>
	<% }) %>
</div>
<% include ./partials/footer %>
